<li 
    class="nav-item mb-2 fw-medium"
    hx-get="/materials/"
    hx-trigger="click"
    hx-swap="innerHTML"
    hx-target="body"
>
    <a class="p-2 {% if pageVariable.active_nav == 'DASHBOARD' %}active{% endif %}" href="#">
        <i class="bi bi-bounding-box text-dark mx-2"></i>
        Dashboard
    </a>
</li>
<li 
    class="nav-item mb-2 fw-medium"
    hx-get="/materials/reccommendation/"
    hx-trigger="click"
    hx-swap="innerHTML"
    hx-target="body"
>
    <a class="p-2 {% if pageVariable.active_nav == 'RECOMMENDATION' %}active{% endif %}" href="#">
        <i class="bi bi-clipboard2-heart text-dark mx-2"></i>
        Recommendations
    </a>
</li>
<li 
    class="nav-item mb-2 fw-medium d-flex d-sm-none"
    hx-get="/accounts/profile/"
    hx-trigger="click"
    hx-swap="innerHTML"
    hx-target="body"
>
    <a class="p-2 {% if pageVariable.active_nav == 'PROFILE' %}active{% endif %}" href="#">
        <i class="bi bi-clipboard2-heart text-dark mx-2"></i>
        Profile
    </a>
</li>
<li class="nav-item mb-2 fw-medium"
    hx-get="/accounts/logout/"
    hx-trigger="click"
    hx-swap="innerHTML"
    hx-target="body"
>
    <a class="p-2" href="#">
        <i class="bi bi-box-arrow-left text-dark mx-2"></i>
        Logout
    </a>
</li>
