{% extends "site/pages/auth/base.html" %}

{% block head_I %}
    <style>
        .auth-container > .btn-primary {
            background-color: #6c63ff;
            border-color: #6c63ff;
        }
        .auth-container > .btn-primary:hover {
            background-color: #5a54d9;
            border-color: #5a54d9;
        }
        .auth-container > .btn-outline-secondary {
            color: #6c63ff;
            border-color: #6c63ff;
        }
        .auth-container > .btn-outline-secondary:hover {
            background-color: #e9e7ff;
            border-color: #5a54d9;
            color: #5a54d9;
        }
        .auth-container > a {
            color: #6c63ff;
            text-decoration: none;
        }
        .auth-container > a:hover {
            text-decoration: underline;
        }
        .form-text p a {
            color: #6c63ff;
            text-decoration: none;
        }
        .form-text p a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock head_I %}


{% block auth_content %}
{% include 'site/pages/auth/fragments/login.html' %}
{% endblock auth_content %}
