{% extends "site/pages/auth/base.html" %}

{% block nav_bar %} {% endblock nav_bar %}

{% block body_I %}
<div class="d-flex h-100 w-100 justify-content-center align-items-center">
    <div class="verification-container">
        <img src="/static/imgs/email_images.png" alt="Email Sent">
        <h1>Email Sent Successfully</h1>
        <p>We’ve sent a  link to your email. Please check your inbox for the next step.</p>
        <a href="/" class="btn btn-primary w-100 mt-3">Go to Homepage</a>
    </div>
</div>
{% endblock body_I %}
