<div id="auth-swap-container">
    <h3>Welcome Back</h3>
    <form 
        hx-post="/admin/login/"
        hx-trigger="submit"
        hx-target-400="#form-error"
    >
        <div id="form-error" class="text-danger"></div>
        <p class="text-muted mb-0">Select Role</p>
        <div class="btn-group role-select mb-3" role="group" aria-label="Role Selection">
            <button 
                hx-get="/accounts/login/"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target="#auth-swap-container"
                type="button" 
                class="btn btn-outline-secondary"
            >Student</button>
            <button 
                hx-get="/admin/login/"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target="#auth-swap-container"
                type="button" 
                class="btn btn-primary"
            >Admin</button>
        </div>
        <input type="hidden" name="role" id="selectedRole" value="student">
        <div class="mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="mb-3 position-relative input-group" hx-ext="response-targets">
            <input 
                type="password"
                name="password" 
                class="form-control" 
                id="password" 
                placeholder="Password" 
                required
                aria-describedby="password_preview"
            >
            <span 
                class="input-group-text" 
                id="password_preview"
                onclick="togglePassword('password', this)"
            >👁</span>
            <div class="text-danger text-start fw-lighter" id="password-validation-error"></div>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <a 
                href="/admin/reset-password/"
                hx-get="/admin/reset-password/"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target="#auth-swap-container"    
                class="text-decoration-none"
            >Forgot Password?</a>
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-5">Login</button>
    </form>
</div>

<script>
function togglePassword(inputId, button) {
    let input = document.getElementById(inputId);
    if (input.type === "password") {
        input.type = "text";
        button.innerText = "🙈";
    } else {
        input.type = "password";
        button.innerText = "👁";
    }
}

</script>
