<div id="auth-swap-container">
    <h1>Set New Password</h1>
    <p>Please enter your new password below.</p>
    <form 
        hx-post=""
        hx-trigger="submit"
        hx-target-400="#form-error"
        hx-target-422="#form-error"
    >
        <div id="form-error"></div>

        <div class="mb-3 position-relative input-group" hx-ext="response-targets">
            <label for="newPassword" class="form-label visually-hidden">New Password</label>
            <input 
                hx-patch=""
                hx-trigger="change"
                hx-target="#password-validation-error"
                hx-target-422="#password-validation-error"
                hx-swap="innerHTML"
                hx-params="password"
                hx-sync="closest form:abort"
                type="password"
                name="password" 
                class="form-control" 
                id="newPassword" 
                placeholder="New Password" 
                required
                aria-describedby="password_preview"
            >
            <span 
                class="input-group-text" 
                id="password_preview"
                onclick="togglePassword('newPassword', this)"
            >👁</span>            
            <div class="text-danger text-start fw-lighter" id="password-validation-error"></div>
        </div>

        <div class="mb-3 position-relative input-group">
            <label for="confirmPassword" class="form-label visually-hidden">Confirm Password</label>
            <input 
                type="password" 
                name="confirm_password"
                onchange="checkPasswordEvent()" 
                class="form-control" 
                id="confirmPassword" 
                placeholder="Confirm Password" 
                aria-labelledby="confirm_password_preview"
                required
                hx-on:htmx:before-request="return validatePasswords(event)"
            >
            <span 
                onclick="togglePassword('confirmPassword', this)"
                class="input-group-text" 
                id="confirm_password_preview"
            >👁</span>
            <div class="text-danger text-start fw-lighter col-12" id="password-match-error"></div>
        </div>

        <button 
            type="submit"
            class="btn btn-primary w-100 mt-3"
        >
            Update Password
            <span class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
    </form>

    <p class="form-text mt-3">
        Remembered your password? 
        <a 
            href="/login/"
            hx-get="/login/"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="#auth-swap-container" 
            class="text-decoration-none"
        >Sign In</a>
    </p>
</div>

<script>

function togglePassword(inputId, button) {
    let input = document.getElementById(inputId);
    if (input.type === "password") {
        input.type = "text";
        button.innerText = "🙈";
    } else {
        input.type = "password";
        button.innerText = "👁";
    }
}

// Validate password on form submission and highlight error if passwords do not match
function checkPassword() {
    let password = document.getElementById("newPassword").value;
    let confirmPassword = document.getElementById("confirmPassword").value;
    return password === confirmPassword;
}

function checkPasswordEvent() {
    let errorDiv = document.getElementById("password-match-error");

    if (!checkPassword()) {
        errorDiv.textContent = "Passwords do not match.";
        return false;
    } else {
        errorDiv.textContent = "";
        return true;
    }
}

function validatePasswords(event) {
    if (!checkPasswordEvent()) {
        event.preventDefault(); // Prevent form submission
    }
}
</script>
