<div id="auth-swap-container">
    <h1>Reset Password</h1>
    <p>Enter your email address and we'll send you instructions to reset your password.</p>
    <form
    hx-post="/reset-password/"
    hx-trigger="submit"
    hx-target-400="#form-error"
    >
        <div id="form-error"></div>
        <div class="mb-3">
            <label for="email" class="form-label visually-hidden">Email Address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email Address" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
    </form>
    <p class="form-text mt-3">
        Remember your password? 
        <a 
            href="/login/"
            hx-get="/login/"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="#auth-swap-container"
        >Sign In</a>
    </p>
</div>

