<div id="auth-swap-container">
    <h1>Set New Password</h1>
    <p>Please enter your new password below.</p>
    <form>
        <div class="mb-3">
            <label for="newPassword" class="form-label visually-hidden">New Password</label>
            <input type="password" class="form-control" id="newPassword" placeholder="New Password" required>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label visually-hidden">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3">Update Password</button>
    </form>
    <p class="form-text mt-3">
        Remembered your password? 
        <a 
            href="/login/"
            hx-get="/login/"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="#auth-swap-container" 
            class="text-decoration-none"
        >Sign In</a></p>
</div>
