{% extends "site/pages/user/base.html" %}


{% block content %}
<!-- Main Content -->
<div class="main-content">
    <h2>Course Materials</h2>
    
    <div class="filter-container">
        <input type="text" id="searchInput" class="search-bar" placeholder="Search by Title, Topic..." onkeyup="filterCourses()">
        <select id="levelFilter" class="form-select" style="width: 200px;" onchange="filterCourses()">
            <option value="all">All Levels</option>
            <option value="100L">100 Level</option>
            <option value="200L">200 Level</option>
            <option value="300L">300 Level</option>
            <option value="400L">400 Level</option>
            <option value="500L">500 Level</option>
        </select>
    </div>

    <!-- Course Grid -->
    <div class="course-grid" id="courseGrid">
        {% for material in materials %}
            <div class="course-card" 
                 hx-get="/materials/rate-materials/" 
                 hx-trigger="click" 
                 hx-swap="innerHTML" 
                 hx-target="body" 
                 data-title="{{ material.title }}"
                 onclick="viewCourse('{{ material.title }}')">
                <img 
                    src="{{ material.cover_image.url }}" 
                    alt="{{ material.title }} Cover Image" />
                <h5>{{ material.title }}</h5>
                <p>Rated by {{ material.rating_count() }} people</p>
                <span class="badge bg-success">{{ material.normalized_average_rating or 1.0 }} ★</span>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}

{% block scripts %} 
<script>
    function filterCourses() {
        let selectedLevel = document.getElementById("levelFilter").value.toLowerCase();
        let searchQuery = document.getElementById("searchInput").value.toLowerCase();
        let courses = document.querySelectorAll(".course-card");

        courses.forEach(course => {
            let courseLevel = course.getAttribute("data-level").toLowerCase();
            let courseTitle = course.getAttribute("data-title").toLowerCase();
            
            let matchesLevel = selectedLevel === "all" || courseLevel === selectedLevel;
            let matchesSearch = courseTitle.includes(searchQuery);

            if (matchesLevel && matchesSearch) {
                course.style.display = "block";
            } else {
                course.style.display = "none";
            }
        });
    }


</script>
{% endblock scripts %}

