{% extends "site/pages/user/base.html" %}

{% block content %}

<div class="main-content">
    <h2>User Profile</h2>
    <div class="profile-container">
        <p><strong>Email:</strong> oluwatobiodulate383@gmail.com</p>
        <p><strong>Matric Number:</strong> 214893</p>
        <p><strong>Full Name:</strong> <span id="fullName">Oluwatobi</span></p>
        <p><strong>Password:</strong> <span id="password">********</span></p>
        <button class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#editProfileModal">Change Password</button>
    </div>
</div>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form 
                    id="change_passwords"
                    hx-post="/accounts/profile/change/"
                    hx-trigger="submit"
                    hx-target-400="#form-error"
                    hx-target-422="#password-validation-error"
                    hx-swap="innerHTML"
                >
                    <div id="form-error"></div>
                    <div class="mb-3 input-group">
                        <label for="oldpasswd" class="form-labe col-12">Enter Old Password</label>
                        <input type="password" class="form-control" id="oldpasswd" name="old_password" required>
                        <span 
                            class="input-group-text" 
                            id="old_passwd_preview"
                            onclick="togglePassword('oldpasswd', this)"
                        >👁</span>
                    </div>
                    <div class="mb-3 input-group">
                        <label for="#newpasswd" class="form-label col-12">Enter New Password</label>
                        <input
                            hx-patch="/accounts/profile/change/validate/"
                            hx-trigger="change"
                            hx-target="#password-validation-error"
                            hx-target-422="#password-validation-error"
                            hx-swap="innerHTML"
                            hx-params="new_password"
                            hx-sync="closest form:abort" 
                            type="password" 
                            class="form-control" 
                            id="newpasswd"
                            name="new_password"
                            required
                        >
                        <span 
                            class="input-group-text" 
                            id="newpasswd_preview"
                            onclick="togglePassword('newpasswd', this)"

                        >👁</span>

                        <div class="text-danger text-start fw-lighter col-12" id="password-validation-error"></div>
                    </div>
                    <button type="submit" class="btn btn-custom w-100">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    document.getElementById('editProfileForm').addEventListener('submit', function(event) {
        event.preventDefault();
        document.getElementById('oldpasswd').textContent = '********';
        document.getElementById('newpasswd').textContent = '********'; // Mask password
        var modal = bootstrap.Modal.getInstance(document.getElementById('editProfileModal'));
        modal.hide();
    });
</script>
{% endblock script %}
