
{% extends "site/pages/admin/base.html" %}

{% block headII  %}
<link rel="stylesheet" href="/static/css/admin_style.css">
{% endblock headII %}
        

{% block content %}
    <!-- Main Content -->
    <div class="container mt-4">
        <div class="card p-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Admin Accounts</h2>
                <button class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#createAdminModal">Create Admin</button>
            </div>

            <!-- Admin Accounts Table -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in users %}
                    <tr>
                        <td>{{ admin.fullname }}</td>
                        <td>{{ admin.email }}</td>
                        <td>{% if admin.is_superuser  %}Super Administrator{% else %}Administrator{% endif %}</td>
                        <td>
                            <span class="badge {% if admin.is_active %}bg-success{% else %}bg-secondary{% endif %}">
                                {% if admin.is_active %} Active {% else %} In-active {% endif %}
                            </span>
                        </td>
                        <td>
                            {% if not admin.is_superuser  %}
                                <button
                                    hx-delete="/admin/users/{{admin.id}}/"
                                    hx-trigger="click"
                                    class="btn btn-sm btn-outline-danger"
                                ><i class="bi bi-trash"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="createAdminModal" tabindex="-1" aria-labelledby="createAdminModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createAdminModalLabel">Create New Admin Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form 
                    id="createAdminForm"
                    hx-post="/admin/users/"
                    hx-trigger="submit"
                    hx-target-400="#form-error"
                    hx-target-422="#password-validation-error"
                    hx-swap="innerHTML"
                    >
                        <div class="mb-3">
                            <label for="fullName" class="form-label">Full Name</label>
                            <input type="text" name="fullname" class="form-control" id="fullName" placeholder="Enter full name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email address" required>
                        </div>
                        <div class="mb-3 input-group">
                            <label for="password"  class="form-label col-12">Temporary Password</label>
                            <input 
                            hx-patch="/admin/users/validate/"
                            hx-trigger="change"
                            hx-target="#password-validation-error"
                            hx-target-422="#password-validation-error"
                            hx-swap="innerHTML"
                            type="password" 
                            name="password"
                            class="form-control" 
                            id="password" 
                            placeholder="Enter temporary password" 
                            required>
                            <span 
                            class="input-group-text" 
                            id="password_preview"
                            onclick="togglePassword('password', this)"
                        >👁</span>
                        </div>
                        <div class="mb-3 input-group">
                            <label for="password"  class="form-label col-12">Confirm Temporary Password</label>
                            <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm the temporary password" required>
                            <span 
                            class="input-group-text" 
                            id="confirm_password_preview"
                            onclick="togglePassword('confirm_password', this)"
                        >👁</span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="createAdminForm" class="btn btn-primary">Create Admin Account</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}