{% extends "site/pages/admin/base.html" %}

{% block headII  %}
<link rel="stylesheet" href="/static/css/admin_style.css">
{% endblock headII %}


{% block content %}

<!-- Main Content -->
<div class="container mt-4">

    <!-- Search and Add Material -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="input-group w-50">
            <input type="text" class="form-control" id="searchInput" placeholder="Search materials..." aria-label="Search materials" onkeyup="filterMaterials()">
            <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
        </div>
        <button class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#uploadMaterialModal">Add Material</button>
    </div>

    <!-- Materials Table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Material Title</th>
                <th scope="col">Size</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materials %}
                <tr data-title="{{ material.title|lower }} (pdf)">
                    <td>
                        <i class="bi bi-file-earmark-pdf material-icon" style="color: #ff0000;"></i> 
                        {{ material.title }} (PDF)
                    </td>
                    <td>{{ (material.content.size / 1000000).__str__() | truncate(4, True, '', 0) }} MB</td>
                    <td>{{ material.created_datetime.date() }}</td>
                    <td>
                        {% if material.status == 'pending_vectorization' %}
                        <span 
                            type="button"
                            data-bs-toggle="tooltip"
                            data-bs-placement="right"
                            data-bs-title="Material has not been vectorized and will not show up in search results"
                            class="badge bg-warning text-dark"
                        >Pending Vectorization
                        </span>
                        {% elif material.status == 'vectorized' %}
                            <span
                                data-bs-toggle="tooltip"
                                data-bs-placement="left"
                                data-bs-title="Material is vectorized and will appear in search results" 
                                class="badge bg-success"
                            >
                                Vectorized
                            </span>
                        {% elif material.status == 'removed' %}
                            <span 
                                data-bs-toggle="tooltip"
                                data-bs-placement="left"
                                data-bs-title="Material is scheduled for removal and will be deleted on the next vectorization" 
                                class="badge bg-dark"
                            >To Be Removed</span>
                        {% else %}
                            <span class="badge bg-secondary">Unknown</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if material.status != 'removed' %}
                            <button
                                hx-delete="/admin/materials/{{material.id}}/" 
                                hx-confirm="Are you sure?"
                                class="btn btn-sm btn-outline-danger" 
                            >
                                <i class="bi bi-trash"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <!-- Modal -->
    <div class="modal fade" id="uploadMaterialModal" tabindex="-1" aria-labelledby="uploadMaterialModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- modal-lg for larger modal -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadMaterialModalLabel">Upload Material</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form 
                        id="uploadMaterialForm"
                        hx-post="/admin/materials/"
                        hx-trigger="submit"
                        hx-target-400="#form-error"
                        hx-swap="innerHTML"
                        hx-encoding='multipart/form-data'
                    >
                        <div id="form-error"></div>
                        <div class="mb-3">
                            <label for="materialTitle" class="form-label">Material Title</label>
                            <input type="text" name="title" class="form-control" id="materialTitle" placeholder="Enter the title of the educational material" required>
                        </div>
                        <div class="mb-3">
                            <label for="authors" class="form-label">Authors</label>
                            <input type="text" name="author" class="form-control" id="authors" placeholder="Enter author names, separated by commas" required>
                        </div>
                        <div class="mb-3">
                            <label for="materialLink" class="form-label">Material Link</label>
                            <input type="url" name="external_download_link" class="form-control" id="materialLink" placeholder="Paste URL to free copy" required>
                        </div>
                        <div class="mb-3">
                            <label for="materialLabel" class="form-label">Material Label</label>
                            <div class="d-flex gap-2">
                                <!-- Multi-select dropdown for predefined labels -->
                                <select class="form-control flex-grow-1" id="materialLabelSelect" multiple required>
                                    <option value="document">Statistics</option>
                                    <option value="video">Software Engineering</option>
                                    <option value="presentation">Logic Gate</option>
                                    <option value="other">Design Principles</option>
                                    <option value="other">Algorithm</option>
                                </select>
                                <!-- Text input for custom labels -->
                                <input type="text" class="form-control flex-grow-1" id="materialLabelCustom" placeholder="Add custom label" />
                            </div>
                            <small class="text-muted">Select one or more labels and/or enter a custom label. Hold Ctrl (or Cmd) to select multiple options.</small>
                        </div>
                        <div class="mb-3">
                            <label for="coverImage" class="form-label">Cover Image</label>
                            <input type="file" name="cover_image" class="form-control" id="coverImage" accept="image/*" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" name="description" id="description" rows="4" placeholder="Provide a brief description of the material" required></textarea>
                        </div>
                        <div class="card p-4 text-dark" style="background-color: #f1e8ff; border: none; border-radius: 10px;">
                            <div class="d-flex align-items-center mb-3">
                                <i class="bi bi-upload fs-3 me-2" style="color: #6f42c1;"></i>
                                <h4>Upload File</h4>
                            </div>
                            <p class="text-muted">Supported formats: PDF only (max 50MB)</p>
    
                            <div class="mb-3">
                                <input type="file" name="content" class="form-control" id="fileUpload" accept=".pdf,.docx" required>
                                <small class="text-muted">Drag & Drop or <a href="#" class="text-decoration-none">Choose File</a></small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="w-100 d-flex justify-content-between">
                                <button type="submit" form="uploadMaterialForm" class="btn btn-purple text-light col-5">Add Material</button>
                                <button type="button" class="btn btn-outline-secondary col-5" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block scripts %}
<script>

    document.addEventListener("htmx:confirm", function(e) {
        // The event is triggered on every trigger for a request, so we need to check if the element
        // that triggered the request has a hx-confirm attribute, if not we can return early and let
        // the default behavior happen
        if (!e.detail.target.hasAttribute('hx-confirm')) return

        // This will prevent the request from being issued to later manually issue it
        e.preventDefault();
        swal({
            title: "Are you sure?",
            text: "This action will mark this material for removal. And the material will be eventually removed in next vectorization.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                e.detail.issueRequest(true); // true to skip the built-in window.confirm()
                swal("Material successfuly marked for deletion", {icon: "success",});
            }
        });
    });

    function filterMaterials() {
        let searchQuery = document.getElementById("searchInput").value.toLowerCase();
        let rows = document.querySelectorAll("tbody tr");

        rows.forEach(row => {
            let title = row.getAttribute("data-title");
            if (title && title.includes(searchQuery)) {
                row.style.display = "table-row"; // Show the row
            } else {
                row.style.display = "none"; // Hide the row
            }
        });
    }
</script>
{% endblock scripts %}
